[user]
	name = Steven Merrill
	email = steven.merrill@gmail.com
[color]
	ui = true
[core]
	excludesfile = /opt/boxen/config/git/gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential
