[submodule ".vim/bundle/varnish"]
	path = .vim/bundle/varnish
	url = https://github.com/smerrill/vcl-vim-plugin.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".urxvt/urxvt-tabbedex"]
	path = .urxvt/urxvt-tabbedex
	url = https://github.com/smerrill/urxvt-tabbedex.git
[submodule ".urxvt/urxvt-perls"]
	path = .urxvt/urxvt-perls
	url = https://github.com/smerrill/urxvt-perls.git
[submodule ".vim/bundle/actionscript"]
	path = .vim/bundle/actionscript
	url = https://github.com/smerrill/ActionScript.git
[submodule ".vim/bundle/largefile"]
	path = .vim/bundle/largefile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule ".vim/bundle/php-indent"]
	path = .vim/bundle/php-indent
	url = https://github.com/vim-scripts/PHP-correct-Indenting.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/phpfolding"]
	path = .vim/bundle/phpfolding
	url = https://github.com/vim-scripts/phpfolding.vim
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/puppet-syntax"]
	path = .vim/bundle/puppet-syntax
	url = https://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule ".vim/bundle/vagrant"]
	path = .vim/bundle/vagrant
	url = https://github.com/smerrill/vagrant-vim
[submodule ".vim/bundle/coffeescript"]
	path = .vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule ".drush/phpsh"]
	path = .drush/phpsh
	url = http://git.drupal.org/project/phpsh.git
[submodule ".drush/feather"]
	path = .drush/feather
	url = http://git.drupal.org/project/feather.git
[submodule ".vim/bundle/vim-statline"]
	path = .vim/bundle/vim-statline
	url = https://github.com/millermedeiros/vim-statline.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".drush/drush-vagrant"]
	path = .drush/drush-vagrant
	url = http://git.drupal.org/project/drush-vagrant.git
[submodule ".vim/bundle/scala"]
	path = .vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/arduino"]
	path = .vim/bundle/arduino
	url = https://github.com/smerrill/vim-arduino.git
