! ===[Misc Configuration]==========================
urxvt.geometry: 120x40
urxvt.visualBell: true
urxvt.saveLines: 0
urxvt.fading: 0
urxvt.cursorBlink: true
urxvt.loginShell: true

urxvt256c.geometry: 120x40
urxvt256c.visualBell: true
urxvt256c.saveLines: 0
urxvt256c.fading: 0
urxvt256c.cursorBlink: true
urxvt256c.loginShell: true

! ===[Extensions]==================================
urxvt.perl-ext-common:   default,clipboard,url-select
urxvt.keysym.M-v:        perl:clipboard:paste
urxvt.urlButton:         1
urxvt.matcher.button:    1
urxvt.underlineURLs:     true
urxvt.keysym.M-u:        perl:url-select:select_next

urxvt256c.perl-ext-common:   default,clipboard,url-select
urxvt256c.keysym.M-v:        perl:clipboard:paste
urxvt256c.urlButton:         1
urxvt256c.matcher.button:    1
urxvt256c.underlineURLs:     true
urxvt256c.keysym.M-u:        perl:url-select:select_next

! ===[UI Config]===================================
urxvt.scrollBar: false
urxvt.scrollBar_right: false
!urxvt.scrollstyle: plain

urxvt256c.scrollBar: false
urxvt256c.scrollBar_right: false
!urxvt256c.scrollstyle: plain

! ===[Colorscheme]=================================
#include ".colors/jbromley"

! ===[Xft Configuration]===========================
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
!Xft.autohint: true
Xft.hinting: true
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault

! ===[Font Configuration]==========================
urxvt.font: xft:DejaVu Sans Mono:pixelsize=14
urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=14:style=bold
urxvt.italicFont: xft:DejaVu Sans Mono:pixelsize=14:style=italic
urxvt.boldItalicFont: xft:DejaVu Sans Mono:pixelsize=14:style=italic
urxvt.letterSpace: -2

urxvt256c.font: xft:DejaVu Sans Mono:pixelsize=14
urxvt256c.boldFont: xft:DejaVu Sans Mono:pixelsize=14:style=bold
urxvt256c.italicFont: xft:DejaVu Sans Mono:pixelsize=14:style=italic
urxvt256c.boldItalicFont: xft:DejaVu Sans Mono:pixelsize=14:style=italic
urxvt256c.letterSpace: -2

! ===[Extensions]==================================
urxvt.perl-lib:          /home/smerrill/.urxvt/urxvt-perls
urxvt.keysym.M-c:        perl:clipboard:copy
urxvt.keysym.M-t:        \001c
urxvt.keysym.M-braceright: \001n
urxvt.keysym.M-braceleft:  \001p
urxvt.urlLauncher:       /usr/bin/google-chrome
! Back to normal Linux copypasta.
urxvt.copyCommand:  xsel -ib
urxvt.pasteCommand: xsel -ob

urxvt256c.perl-lib:          /home/smerrill/.urxvt/urxvt-perls
urxvt256c.keysym.M-c:        perl:clipboard:copy
urxvt256c.keysym.M-t:        \001c
urxvt256c.keysym.M-braceright: \001n
urxvt256c.keysym.M-braceleft:  \001p
urxvt256c.urlLauncher:       /usr/bin/google-chrome
! Back to normal Linux copypasta.
urxvt256c.copyCommand:  xsel -ib
urxvt256c.pasteCommand: xsel -ob

