! ===[Total Hackiness]=============================
! OS X does not support #define nor #include blocks in .Xdefaults.
! Therefore these are all overrides from the OS X side.
#include ".Xdefaults"

! ===[Font Configuration]==========================
urxvt.font: xft:Mensch:pixelsize=12
urxvt.boldFont: xft:Mensch:pixelsize=12:style=bold
urxvt.italicFont: xft:Mensch:pixelsize=12:style=italic

! ===[Extensions]==================================
urxvt.perl-lib:          /home/smerrill/dotfiles/urxvt-perls
urxvt.perl-ext-common:   default,clipboard,url-select,keyboard-select
urxvt.keysym.M-c:        clipboard:copy
urxvt.keysym.M-v:        clipboard:paste

